version: '3.8'
services:
  server:
    build: .
    ports:
      - "9000:80"
    depends_on:
      db:
        condition: service_healthy
    environment:
      - DB_HOST=db
      - DB_NAME=example
      - DB_USER=root
      - PASSWORD_FILE_PATH=/run/secrets/db-password
    secrets:
      - db-password
    volumes:
      - ./src:/var/www/html

  db:
    image: mysql:8
    restart: always
    command: --default-authentication-plugin=mysql_native_password
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
    environment:
      - MYSQL_DATABASE=example
      - MYSQL_ROOT_PASSWORD_FILE=/run/secrets/db-password
    volumes:
      - db_data:/var/lib/mysql
    secrets:
      - db-password

  phpmyadmin:
    image: phpmyadmin
    ports:
      - "8080:80"
    environment:
      - PMA_HOST=db
      - PMA_ARBITRARY=1

volumes:
  db_data:

secrets:
  db-password:
    file: ./password.txt